{% extends "base.html" %}

{% block content %}
<div id="corners_up">WHY?</div>
<div id="border">


<div id="notab">
<br />

<div class="content">
In September 2008, <a href="http://arust.mysite.syr.edu/index.html">Annina</a>, <a href="http://www.cs.umass.edu/~wallach/">Hanna</a>, and <a href="http://cyber.law.harvard.edu/people/pmielPersephone"> Persephone</a> 
were discussing feminist tools for technology environments. 
We were interested in tracking the gender distribution at technology-related events such as meetings, lectures, workshops, and conferences. Annina set up "Be Counted", 
a web service to keep a running tally of how many or how few women attend these events and Persephone, Hanna, and <a href="http://web.media.mit.edu/~kbrennan/">Karen</a> 
tested it and suggested changes and new features. In September 2011, <a href="https://github.com/gabelula">Gabriela "gaba" Rodriguez</a> joined the project.
<br />
<br />
Let us know how you would like to get <a href="mailto:annina9@gmail.com">involved in this project</a>! 
<br />The source code can be found <a href="http://code.google.com/p/be-counted/">here.</a>  
<br />
<br />

</div>
</div> 

{% endblock %}