{% extends "base.html" %}

{% block content %}
<div id="corners_up">Frequently Asked Questions</div>

<div id="border">
<div id="notab">
<div class="grey">Contributing Information</div> 
<div class="content">

<br /><strong>Q:</strong> How can I participate?
<br /><strong>A:</strong> <span class="smalltxt"> Do you work in a technical profession? Is technology your hobby? If you answered yes to any of these questions, you might occasionally go to events within this field. 
Those events could be lectures, business meetings, conferences, festivals, reading groups etc. If you do go to these events, submit a Gender Ratio Report to <a href="http://b-counte.appspot.com">Be Counted!</a> 
If you feel like the gender ratio is telling but does not quite capture the event, you then have the possibility 
to add a description of the event and/or enter other statistics about the event (for example how many people of each age group attended the event). 
</span>
<br /><strong>A:</strong> <span class="smalltxt">On the bureaucratic side, you need to have a <a href="https://www.google.com/accounts/Login" target="_blank">Google Account</a> in order to participate. 
This application runs on <a href="http://code.google.com/appengine/">Google App Engine</a> and the source code can be viewed <a href="http://code.google.com/p/be-counted/">here</a>. 
For example, if you have a <a href="http://www.gmail.com" target="_blank">gmail</a> account your username/password will also work here. The privacy policy for Google App Engine can be found at <a href="http://code.google.com/appengine/privacy.html">http://code.google.com/appengine/privacy.html</a>.</span> 
<br />
<br /><strong>Q:</strong> Why do I have to enter a number instead of a percentage of people in my Gender Ratio Report?
<br /><strong>A:</strong><span class="smalltxt"> Because it gives others an idea of the size of the event. Try to be as precise as possible. 
However, all entries are treated as estimates </span>.
<br />
<br /><strong>Q:</strong> Once somebody has entered an event, can I still change the gender ratio if my count is different? 
<br /><strong>A:</strong> <span class="smalltxt">Yes, anyone who attended can (and should!) enter their estimate of the gender ratio. If you see an count that is obviously wrong, report it to b-reported@gmail.com.
</span><br />
<br /><strong>Q:</strong> What is a multi-session event? 
<br /><strong>A:</strong> <span class="smalltxt">A multi-session event can be a conference, a festival, a series of business meetings, a lecture series, or some other event series.</span>
<br />
<br /><strong>Q:</strong> Why do you distinguish between events and multi-session events?
<br /><strong>A:</strong> <span class="smalltxt">Because multi-session events such as for example lecture series or conferences are different from events that just happen once. 
At tech conferences the gender distribution may or may not vary depending on the topic of the session. At a lecture series the gender distribution may or may not vary depending on the topic of the lecture. 
These variations are a part of a bigger picture on gender distribution and therefore need to be specifically considered.</span>
<br />
<br />
</div>
<div class="grey">Deleting Information </div>
<div class="content">

<br /><strong>Q:</strong> How do I change/delete information I entered?
<br />
<br /><strong>Q:</strong> I don't understand how I would delete an event. How do I do that?
<br /><strong>A:</strong> <span class="smalltxt">Events often have several gender ratio estimates connected to them. All gender ratio estimates can be deleted by the person who entered them. 
However, the event cannot be deleted until the last person has deleted their gender ratio estimate.
When the last gender ratio estimate is being deleted, the event is being deleted along with it.
This limits the chance that people delete information which others have entered.</span>
<br />
<br /><strong>Q:</strong> What if a lot of different people contributed information to an event and eventually somebody wants to delete it. How does that work?
<br /><strong>A:</strong> <span class="smalltxt">Everyone has to delete the information they entered and once the last person deletes their information, the event is deleted along with it.
In this case, it does not matter if the person deleting it is the same person as the one who entered it.</span>
<br />
<br />
</div>
<div class="grey"> Personal Information </div>
<div class="content">

<br /><strong>Q:</strong> How much of my personal information can the administrators of Be Counted access through the Google Accounts system?
<br /><strong>A:</strong> <span class="smalltxt">The privacy policy for Google App Engine can be found at <a href="http://code.google.com/appengine/privacy.html">http://code.google.com/appengine/privacy.html</a>. </span>
<br />

<br /><strong>Q:</strong> Why am I asked to disclose my gender?
<br /><strong>A:</strong> <span class="smalltxt">Like an event, this site is a participative structure. As a contributor, you participate in this structure and are therefore part of the statistic.</span>
<br />

<br /><strong>Q:</strong> How can I remain anonymous?
<br /><strong>A:</strong> <span class="smalltxt">Statistics will only be displayed in a compiled form.</span>

<br />
<br />
</div>


</div> 

{% endblock %}