{% extends "base.html" %}

{% block content %}
<div id="corners_up">WHY?</div>
<div id="border">


<div id="notab">
<br />

<div class="content">
<span style="color: #ffffff;">Why is gender diversity in technological spaces important? And why should I care about the gender ratio at technological and technology-related events? </span>
<br />
<br />
There is a gender gap in places where technology is created  - yet technology is an important, integral part of our everyday lives. Technology products are consumed by men and women. 
However, unlike their male counterparts, women are only marginally involved in technology creation. 
The <a href="http://www.ncwit.org/">National Center for Women in IT (NCWIT)</a> found in 2007 that:
<br />
<br />

<ul>Girls comprise fewer than 15 percent of all U.S. AP computer science
exam-takers - the lowest representation of any AP discipline.</ul>

<ul>Between 1983 and 2006, the share of computer science bachelor's
degrees awarded to women in the United States dropped from 36 to 21 percent.</ul>
<ul>
Women hold more than half of professional positions in the United States overall, but fewer
than 22 percent of software engineering positions.</ul>
<ul>
Within the top Fortune 500 IT companies, fewer than five percent of
Chief Technical Officers are women.</ul>

These numbers depict the lack of diversity in various spaces where technology is created. Although they only describe conditions within the United States, they do point to a larger problem:
Technology creators hold significant influence over important aspects of the lives of a broad range of people, 
yet they themselves as a group do not represent this same diverse group. Having more diversity in spaces where technology is created will therefore allow for a more even distribution of power and influence.
<br />
<br />
The project aims to collect a stream of user-contributed data on gender diversity in technology environments in the form of Gender Ratio Reports (GRRs). 
The longterm aim of the project is to not just collect but also provide tools for retrieving and visualizing the data in 
order to encourage others to collectively analyze the patterns behind the numbers.
<br />
<br />
<br />
</div>
<div class = "grey">
Further reading
</div>
<div class="content">
<br/>
Geek Feminism Wiki
<a href="http://geekfeminism.wikia.com">geekfeminism.wikia.com</a>
<br />
<br />

FLOSSPOLS D16 - Gender: Integrated Report of Findings. 2006. Authors: Nafus, D, Leach J, Krieger B, <br />
A study by researchers at the University of Cambridge about gender diversity in the Open Source Software Community.<br />
<a href="http://flosspols.org/deliverables/FLOSSPOLS-D16-Gender_Integrated_Report_of_Findings.pdf">http://flosspols.org/deliverables/FLOSSPOLS-D16-Gender_Integrated_Report_of_Findings.pdf</a>
<br />
<br />
The Athena Factor: Reversing the Brain Drain in Science, Engineering, and Technology. Harvard Business Review Research Report published in May 2008. Authors: Sylvia Ann Hewlett (et al)<br />
<a href="http://app.post.hbsp.harvard.edu/athena/athena13/landingpage3.html">http://app.post.hbsp.harvard.edu/athena/athena13/landingpage3.html</a>
<br />
<br />
<a href="http://delicious.com/SystersLinks">http://delicious.com/SystersLinks</a>
<br />
<br />

</div>
</div> 

{% endblock %}